.hero {
    position: absolute;
    top: 0;
    background: linear-gradient(0deg, rgba(46, 46, 46, 1) 10%, rgba(107, 107, 107, 0.1) 50%), url(../../../src/images/bg/bg-hero.jpg);
    background-size: cover;
    background-position: center;
    min-width: 100%;
    min-height: 100vh;
    padding: 400px 100px 200px;

    

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    &__text {
        max-width: 700px;
    }

    &__title {
        font-weight: 600;
        font-size: 72px;
        line-height: 80px;
        margin-bottom: 20px;
        text-align: left;

        .hero__highlight {
                    color: $accent-color;
        }
    }

    &__description {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-align: left;
    }

    &__button {

        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .btn {
            border: 1px solid$accent-color;
            border-radius: 10px;
            
            padding: 10px 20px;
            font-size: 24px;
            font-weight: 600;
            transition: $transition;
        }

        .btn--primary {
            background-color: $accent-color;
            color: $main-text-color;

            &:hover {
                background-color: transparent;
                color: $accent-color;
            }
        }

        .btn--secondary {
            background-color: transparent;
            color: $accent-color;

            &:hover {
                background-color: $accent-color;
                color: $main-text-color;
            }
        }

        
    }
}