.testimonials {
    padding: 100px 50px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(to left, #2e2e2e 40%, #F66E21 100%);
    }

    &__content {
        display: flex;
            flex-direction: column;
            gap: 50px;
    }

    &__text {
        display: flex;
            flex-direction: column;
            gap: 30px;
            text-align: center;
    }

    &__description {
        font-weight: 400;
        line-height: 30px;
    }

    &__cards {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__card {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        width: calc((100% - 60px) / 4);
            min-height: 400px;
            box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.5);
        transition: $transition;
    }

    &__card:hover {
        transform: scale(1.05);
    }

    &__card-review {
        flex-grow: 1;
        font-size: 16px;
    }

    &__card-name {
        font-weight: 700;
        line-height: 24px;
    }

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }


}