html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2e2e2e;
    color: white;
    font-size: 18px;
}

.container {
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}

.accent {
    text-transform: uppercase;
    font-weight: 600;
    color: $accent-color;
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}

